<div class="ocgf-container">
  <div class="feed-list">
    <div *ngFor="let item of feedItems" class="feed-item">
      <div class="feed-meta">
        <span class="feed-type chat">{{item.network}}</span>
        <span class="feed-time">{{item.timestamp | date:'shortTime'}}</span>
      </div>
      <div class="feed-content">
        {{item.content}}
      </div>
    </div>
  </div>
  <div class="ocgf-input-area">
    <input type="text" #cmdInput class="zs-input" placeholder="Enter global command or message..." (keyup.enter)="cmdInput.value=''">
    <button class="zs-btn" (click)="cmdInput.value=''">Send</button>
  </div>
</div>
